<?xml version="1.0" encoding="UTF-8"?>
<web-app 
version="2.5" 
metadata-complete="false" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>ExpenseReimbursement</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.erms.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.erms.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.erms.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptUploader</display-name>
    <servlet-name>ReceiptUploader</servlet-name>
    <servlet-class>com.erms.servlets.ReceiptUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptUploader</servlet-name>
    <url-pattern>/ReceiptUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeRequestServlet</display-name>
    <servlet-name>UpdateEmployeeRequestServlet</servlet-name>
    <servlet-class>com.erms.servlets.UpdateEmployeeRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeRequestServlet</servlet-name>
    <url-pattern>/updateEmployeeRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.erms.servlets.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmployeeServlet</display-name>
    <servlet-name>ListEmployeeServlet</servlet-name>
    <servlet-class>com.erms.servlets.ListEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmployeeServlet</servlet-name>
    <url-pattern>/listEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmployeesPendingRequests</display-name>
    <servlet-name>ListEmployeesPendingRequests</servlet-name>
    <servlet-class>com.erms.servlets.ListEmployeesPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmployeesPendingRequests</servlet-name>
    <url-pattern>/listEmployeesPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPendingRequests</display-name>
    <servlet-name>ListPendingRequests</servlet-name>
    <servlet-class>com.erms.servlets.ListPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPendingRequests</servlet-name>
    <url-pattern>/listPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRequests</display-name>
    <servlet-name>ListRequests</servlet-name>
    <servlet-class>com.erms.servlets.ListRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRequests</servlet-name>
    <url-pattern>/listAllReceipts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListResolvedRequests</display-name>
    <servlet-name>ListResolvedRequests</servlet-name>
    <servlet-class>com.erms.servlets.ListResolvedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListResolvedRequests</servlet-name>
    <url-pattern>/listResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.erms.servlets.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeInfoServlet</display-name>
    <servlet-name>GetEmployeeInfoServlet</servlet-name>
    <servlet-class>com.erms.servlets.GetEmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeInfoServlet</servlet-name>
    <url-pattern>/getEmployeeInfo</url-pattern>
  </servlet-mapping> 
</web-app>